body {
    background-color: rgb(235, 210, 158);
}

h3 {
    padding: 20px;
    color: black;
    text-align: center;
}

.myRow {
    padding-bottom: 20px;
    margin-left: 365px;
}

.labelCol {
    float: left;
    width: 110px;
    text-align: right;
    padding-right: 15px;
}

.bouton {
    margin-left: 540px;
    padding-top: 30px;
}