body {
    background-color: #a6e9a6;
}

h3 {
    padding: 20px;
    color: black;
    text-align: center;
}

.myRow {
    padding-bottom: 10px;
    margin-left: 365px;
}

.labelCol {
    float: left;
    width: 100px;
    text-align: right;
    padding-right: 10px;
}

.bouton {
    margin-left: 488px;
    padding-top: 30px;
}