html, body {
	margin: 0px;
	padding: 0px;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	justify-content: center;
	background-color: #ffffff;
	left: 69%;
	text-align: center;
}
#enTete{
	position: fixed;
	width: 100%;
	height: 112px;
	z-index: 10;
	border-bottom-color: #2E2E2E;
	color: #424242;
	-webkit-box-shadow: 0 -3px 116px #000000;
	box-shadow: 0 -3px 116px #000000;
}
#topEntete{
    background-color: #007179;
    height: 70px;
}
#logoAccueil{
    height: 50px;
    margin: 10px;
    float: left;
}
#barreDeRecherche{
    margin-left: 30%;
    width: 100%;
    color: rgb(255, 255, 255);
}
#barreDeRecherche table, #titrePrincipal{
    width: 50%;
    text-align: right;
    vertical-align: center;
}
#barreRecherche{
    width: 100%;
    border: 3px solid #007179;
    border-radius:5px;
    height: 30px;
}
#titrePrincipal{
    margin-top:0px;
    padding-top: 5px;
    color: rgb(255, 255, 255);
}

#divBarreEntete{
    height: 45px;
    padding:0px;
    margin: 0px;
    background-color: white;
}
#barreEntete,#barreEnteteInscription {
    padding: 10px;
    background-color: #008892;
    height: 25px;
    text-align:right;
    overflow: hidden;
    vertical-align: middle;
    float: right;
    width: 85%;
}
#barreEnteteInscription{
    width: 100%;
}

#boutonMenu{
    float: left;
    background-color: rgb(255, 255, 255);
    text-align : center;
    padding-top: 10px;
    padding-left:2%;
}

#boutonMenu button{
    color:#007179;
    border: 0px;
    background-color: transparent;
    height:23px;
    font-size: 20px;
    font-weight: bold;
}
#boutonMenu button:hover{
    color: #02cbda;
    border-bottom: 2px solid gold;
}
.boutonNav, #boutonConnexionAd, #boutonConnexionV, #boutonConnexionA{
    padding: 8px;
    background-color: rgb(255, 255, 255);
    border: 3px solid #007179;
    border-radius:5px;
    text-decoration: none;
    color: #007179;
}
#boutonConnexionAd{
    color: #c70000
}
#boutonConnexionV{
    color: #003c5f;
}
#boutonConnexionA{
    color: #02cbda;
}

.boutonNav img,  #boutonConnexionAd img, #boutonConnexionV img, #boutonConnexionA img {
    height: 20px;
    padding: 5px;
    vertical-align: middle;
}
#menuVertical{
	background-color: rgb(255, 255, 255);
	width: 200px;
	display: none;
	transition: width 1s;
	z-index: 10;
	overflow: hidden;
	position: fixed;
	-webkit-box-shadow: -31px 109px 116px 31px #000000;
	box-shadow: -31px 109px 116px 31px #000000;
}
#menuVertical a{
    text-decoration: none;
    color: #008892;
}
#menuVertical div{
    padding: 10px 20px 30px 10px;
    border-top: 0.5px solid #007179;
}

#corpSite{
    width:100%;
    transition: width 1s, left 1s;
    position: relative;
    left: 0%;
    overflow: hidden;
}
#teteBody{
    height: 115px;
}
#corpBody {
    display: flex;
}
#banderoleEvenement{
    height: 400px;
    overflow:hidden;
    background-color: #ffffff;
}
#banderoleEvenement .imageBanderoleEvenement{
    display: flex;
    animation-duration: 20s;
    animation-name:imageBanderoleEvenement ;
    animation-iteration-count: infinite;
}
@keyframes imageBanderoleEvenement{
    10%{
        transform:translateX(0);
    }
    20%{
        transform:translateX(-2000px);
    }
    50%{
        transform:translateX(-2000px);
    }
    60%{
        transform:translateX(-4000px);
    }
    90%{
        transform:translateX(-4000px);
    }
    100%{
        transform:translateX(0);
    }
}

#actualites{
    background-color: #9bcecf;
    padding: 5px;
    height: 5000px;
    text-align:center;
}

footer{
    background-color: #0a2e30;
    padding: 5px;
    height: 110px;
    text-align:center;
}
